.icon {
    margin-top: -30px;
    margin-left: 5px; 
    display: block;
  }
  .upload-button1{
    box-sizing: border-box;
    border-radius: 0.5em;
    border: 1px solid black;
    margin-left: 70px;
    height: 45px;
    text-align: center;
    background-color: whitesmoke  ;
    color: rgba(0, 0, 0, 0.5); 
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.5); 
  }
  @media screen and (max-width: 768px) {
    .upload-button1 {
      margin-left: 0px;
      width: 0;
      height:  20px;
      margin-top: 160px;
      position: absolute;
      
    }
    .icon {
      margin-top: 25px;
      margin-left: 10px; 
      display: block;
     
    }

  }
  .file-name {
    top: 5px;
    position: absolute;
    margin-left: 1%;
    font-size: 16px; 
  }
  .icon-hidden{
    display: none;
  }
  