.info-alert {
    position: fixed;
    top: 13%;
    left: 70%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    background-color: #cce5ff; /* Light blue background */
    border-color: #b8daff; /* Light blue border color */
    color: #004085; /* Dark blue text color */
    padding: 0.75rem 1.25rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    width: 30%;
}

.info-icon {
    margin-right: 10px;
    font-size: 20px;
}

.alert-message {
    font-size: 16px;
}
