.success-alert {
    position: fixed;
    top: 13%;
    left: 70%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    background-color: #d4edda;
    border-color: #c3e6cb;
    color: #155724;
    padding: 0.75rem 1.25rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    
}

.tick-icon {
    margin-right: 10px;
    font-size: 20px;
}

.alert-message {
    font-size: 16px;
}
