.upload-button {
   
    background-color: #fafafa;
    border: 1px solid #c8c8c8;
    width: 260px;
    height: 40px;
    border-radius: 5px;
    padding: 7px 15px;
   
    font-size: 12px;
    display: flex;
    align-items: center;
    gap: 10px;
}
.file-name{
    font-size: 10px;
}

@media (max-width: 892.98px) {
   
    .upload-button {
        width: 100%;
    }
}